@import url(normalize.css);
@import 'http://fonts.googleapis.com/css?family=Share:400,700';
@import url(animations.css);
body {
  font-family: 'Share', cursive;
  position: relative;
  font-weight: normal; }

.wrapper {
  margin: 0 auto;
  background: #ffffff;
  padding: 2% 5%;
  min-height: 600px;
  overflow: auto; }

h1 {
  font-size: 1.5em; }

p {
  font-size: 1em;
  font-weight: normal; }

a, a:focus, a:visited {
  color: #2e41ab; }

label, input, textarea {
  display: block;
  margin: 0 0 5px 0; }

input, button, textarea {
  padding: 8px 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 0 15px 5px 0;
  width: 500px; }

.btn, .btn:visited, .btn:focus {
  color: #62401b;
  background: #ffd781;
  border: 0;
  border-bottom: 2px solid #e8c475;
  width: auto;
  text-decoration: none;
  padding: 8px 10px;
  margin: 0 15px 10px 0; }

button:hover, .btn:hover {
  color: #3a2610;
  background: #ffde89;
  border-bottom-color: #d2aa73; }

.group {
  margin: 0 0 .5em 0; }

.board {
  height: 300px;
  list-style: none;
  padding: 0;
  margin: 0; }
  .board li {
    float: left;
    width: 280px;
    min-height: 140px;
    margin: 0 10px 10px 0;
    padding: 10px 15px;
    background: #fff9ca;
    position: relative; }
    .board li p {
      margin: 3px 0 5px 0; }
    .board li .status {
      font-size: 0.8em;
      text-transform: capitalize;
      float: right; }
    .board li .status.waiting {
      color: #ffffff;
      background: #3691ff;
      padding: 3px 5px; }
    .board li .coder {
      margin: 0;
      font-weight: bold; }
    .board li .description {
      margin: 10px 0;
      line-height: 1.25; }
    .board li .created-time {
      font-size: .7em;
      color: #999999; }

.dialog {
  z-index: 100;
  position: absolute;
  top: 140px;
  left: -10px;
  border: 0;
  width: 310px;
  margin: 0;
  background: transparent; }
  .dialog .container {
    background: #3691ff;
    border-top: 3px solid #44a4ff;
    border-bottom: 3px solid #1f81ff;
    padding: 0 20px 10px 20px;
    width: auto;
    height: auto;
    color: #ffffff; }
    .dialog .container input {
      width: 200px;
      margin: 0 0 15px 0; }
    .dialog .container a, .dialog .container a:visited, .dialog .container a:focus {
      color: #dddddd; }
      .dialog .container a :hover, .dialog .container a:visited :hover, .dialog .container a:focus :hover {
        color: #ffffff; }

.ask-for-review {
  width: 80%;
  position: fixed;
  bottom: 1em;
  left: 2em;
  padding: 1em 5%;
  margin: 1em 0 0 0;
  border-top: 1px solid #eeeeee;
  background: #ffffff; }
