@import 'normalize.css';
@import 'http://fonts.googleapis.com/css?family=Share:400,700';

body{
  font-family: 'Share', cursive;
  position: relative;
  font-weight: normal;
}
.wrapper{
  margin:0 auto;
  background: #ffffff;
  padding: 2% 5%;
  min-height: 600px;
  overflow:auto;
}
h1{
  font-size: 1.5em;
}
p{
  font-size: 1em;
  font-weight: normal;
}
a, a:focus, a:visited{
  color: #2e41ab;
}
label, input, button, textarea, button{
  display: block;
  margin: 0 0 5px 0

}
input, button, textarea{
  padding:8px 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 500px;
}
button{
  color: #62401b;
  background: #e5ae38;
  width: 520px;
  border:0;
  border-bottom: 2px solid #cba753;
}
button:hover{
  color: #3a2610;
  background: #d3b95c;
  border-bottom-color: #cc8538;
}
.group{
  margin:0 0 .5em 0;
}

//Board
.board{
  height: 300px;
  list-style: none;
  padding:0;
  margin:0;
}
.board li{
  float:left;
  width: 280px;
  min-height:140px;
  margin:0 10px 10px 0;
  padding: 10px 15px;
  background: #fff9ca;
}
//Elements that in an item
//Status
.status{
  font-size: 0.8em;
  margin:0;
  text-transform: capitalize;
  float:right;
}
.status.waiting{
  color: #ffffff;
  background: #3691ff;
  padding: 3px 5px;
}
.coder{
  font-weight: bold;
  margin:0;
}
.description{
  line-height: 1.25;
}
.actions{
}

//form.submit
.ask-for-review{
  width:80%;
  position:fixed;
  bottom:1em;
  left:2em;
  padding: 1em 5%;
  margin:1em 0 0 0 ;
  border-top: 1px solid #eeeeee;
  background: #ffffff;
}