<!DOCTYPE HTML>
<html ng-app="codeReviewBoard" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Javascript Library-->
    <script src="js/angular.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src="js/angularfire.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/app.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="css/app.css"/>
    <title>Code Review Board</title>
</head>
<body ng-controller="MainController">
<div class="wrapper">
    <h1>Code Review Board</h1>
    <ul class="board">
        <li ng-repeat="item in item" class="item">
            <p class="status {{item.status}}">{{item.status}}</p>
            <p class="coder">{{item.user}}:</p>
            <p class="description">{{item.description}}</p>
            <p class="reviewer">{{item.reviewer}}</p>
            <div class="actions">
                <a class="start-review-btn" href="" ng-click="confirmReview.showThis = !confirmReview.showThis">Start Review</a>
                <a class="delete" href="" ng-click="removeItem(item)">Delete</a>
            </div>
            <p class="created-time">Created {{item.createdTime}}</p>
            <p>Reviewer: {{item.reviewer}}</p>

            <!--Start Dialog for start review confirmation-->
            <div class="dialog animate-show" id="start-review-dialog" ng-show="confirmReview.showThis" >
                <div class="container">
                    <div class="header">
                        <h3>Start Review</h3>
                    </div>
                    <div class="content">
                        <label for="revierwer-name">Enter your name to continue</label>
                        <input id="revierwer-name" type="text" ng-model="reviewerName" />
                    </div>
                    <div class="footer">
                        <button class="btn primary-btn start-review-confirm-btn" ng-click="startReviewClick()">Continue</button>
                        <a href="" class="close" ng-click="confirmReview.showThis = !confirmReview.showThis">cancel</a>
                    </div>

                </div>
            </div>

        </li>
    </ul>
    <form class="ask-for-review">
        <div class="group">
            <label for="coder-name">My name is</label>
            <input id="coder-name" type="text" ng-model="coderName" placeholder=""/>
        </div>
        <div class="group">
            <label for="description">I need a review about</label>
            <textarea id="description" ng-model="description" ng-keypress="addReviewItem($event)" placeholder="issue... "></textarea>
        </div>
        <button class="btn primary-btn" ng-click="addReviewItemClick()">Pin Request to Board</button>
    </form>
</div>


</body>
</html>